.descriptionbox{
    margin: 100px 170px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    width: 175px;
    height: 60px;
    border: 1px solid #d0d0d0;
    margin-left: -50px;
}

.descriptionbox-nav-box.fade{
    background: #fbfbbf;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    margin-left: -50px;
    /* padding-bottom: 70px; */
}